<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="username" value=""/>
    <add key="password" value=""/>
    <add key="browser" value="Chrome"/>
    <add key="webUrl" value="http://automationpractice.com/index.php"/>
    <add key="tearDownTestData" value="true"/>
    <add key="browserSingleSession" value="true"/>
    <add key="timeout" value="120"/>
    <add key="extentReportPath"  value="C:\logs\AutomationTestResults\" />
    <add key="downloadsDirectory"  value="C:\temp\Downloads" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=4.8"/>
  </startup>
  <runtime>

  </runtime>
</configuration>
